<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="Your name">
    </label>
  </div>
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email">
    </label>
  </div>
  <div>
    <label>
      Message:
      <input formControlName="message" placeholder="Your message">
    </label>
  </div>
  <button type="submit">Send</button>
</form> -->
<h3>hello</h3>
<div style="border: solid 1px black; padding:15px;">
  <h3>Parent Component</h3> 
  <app-child
    [firstName]="firstName"
    [lastName]="lastName"
    [siblings]="siblings"></app-child>
</div>